<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/recipes" method="post">
      <label for="">Recipe name</label>
      <input type="text" name="name">
      <label for="">Recipe ingredients</label>
      <input type="text" name="ingredients">
      <label for="">Recipe cook_time</label>
      <input type="integer" name="cook_time">
      <input type="submit" name="submit" id="submit">
    </form>

  </body>
</html>
